body{
  max-width: 1480px;
}
 
.container{
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    margin: 0 auto;
}

.link{
  text-decoration: none;
  
}

.logo{
  color: black;
   display: flex;
  font-family: Montserrat;
  font-size: 70px;
  font-weight: 400;
}

.logo-span{
  color: blue;
  display: flex;
  font-family: Montserrat;
  font-size: 70px;
  font-weight: 400;
}

.navigation{
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.menu-item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1280px;
  padding-left: 50px;
  background-color: #35444f;
  font-size: 20px;
}

.link-item{
  text-decoration: none;
  color: white;
}

.list-item {
  display: flex;
  align-items: center;
  border-right: 1px solid white;
  padding: 25px;
  padding-right: 100px;
}

.aside{
  display: flex;
  margin: 0 auto;
  max-width: 1280px;
  padding-top: 30px;
}

.aside-menu{
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  padding: 30px;
}

.side-list{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 25px;
  font-size: 24px;
  font-weight: 400;
}

.link-menu{
  color: black;
  text-decoration: none;
}

.picture{
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.image{
  width: 320px;
  height: 380px;
  border: 1px solid gray;
  padding: 15px;
  padding-left: 220px;
  padding-right: 220px;
}

.main{
  max-width: 1280px;
  margin: 0 auto;
}

.main-content{
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-weight: 400;
  margin-left: 30%;
}

.footer{
  display: flex;
  margin: 0 auto;
  max-width: 1280px;
  background-color: #6295b9;
  justify-content: center;
  margin-top: 30px;
}

.menu-footer{
  display: flex;
  font-size: 24px;
  justify-content: space-around;
  padding: 12px;
}

.footer-list{
  display: flex;
  align-items: center;
  padding-right: 80px;
}

.cop{
  display: flex;
  align-items: center;
  font-size: 24px;
  
}

.btn{
  color: white;
  border-radius: 4px;
  background-color: rgb(150, 9, 9);
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 40px;
 
}

.js-btn{
  display: flex;
  justify-content: center;
}
/* body{
  max-width: 1480px;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    margin: 0 auto;
}
 
.link{
  text-decoration: none; 
}
  .logo{
    color: black;
     display: flex;
    font-family: Montserrat;
    font-size: 70px;
    font-weight: 400;
  }

   .logo-span{
    color: blue;
    display: flex;
    font-family: Montserrat;
    font-size: 70px;
    font-weight: 400;
  }

  /* .logo, .logo-span{
    display: flex;
    font-family: Montserrat;
    font-size: 70px;
    font-weight: 400;
  } */

  /* .navigation{
   display: flex;
   justify-content: flex-start; 
   margin-top: 60px;
   color: white;
  }

  .menu-item{

  }

  .list-item{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #35444f;
    padding: 35px;
    margin: 1px;
    width: 190px;
    height: 1%;
    
  }

  .aside, .aside menu, .side-list{
    display: flex;
    justify-content: flex-start;
    font-size: 27px;
    padding: 15px;
  }

  .aside-menu{
    display: flex;
    flex-direction: column;
    border: solid gray;
    width: 250px;
    height: 300px;
    margin-left: 236px;
   }

   .main, .image{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 150px;
    margin-top: -90px;
   }

   .image{
    display: flex;
    align-items: center;
   justify-content: center;
    border: 1px solid gray;
    height: 250px;
    width: 250px;
   margin-bottom: 700px;
    margin-top: -150px; 
    margin-left: 700px;
   }
  
 .main-content{
 /* display: inline; */
 /* text-align: center; */
 /* overflow: hidden;
 text-overflow: ellipsis;
 font-family: Roboto;
 position: relative;
 margin-left: -350px;
 margin-top: -300px;
 margin-right: 15%;
 }

 .footer, .menu-footer{
	display: flex;
	justify-content: center;
	margin-top: -150px;
  margin-left: 55px;
	}

 .footer-list{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #6295b9;
  width: 125px;
  height: 10%;  
 }

 .link-item{
  color: white;
  text-decoration: none;
 }

 .link-menu{
  color: black;
  text-decoration: none;
 }

 .cop{
  display: flex;
  align-items: center;
  padding: 20px;
  margin-top: -150px;
  background-color: #6295b9;
  width: 190px;
  height: 15px; 
 }   */